.timer-wrapper {
  width: 4em;
  height: 4em;
  margin: 5em auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: white;

  .timer {
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
  }
}

.timer-red {
  border: 0.4em solid #d44457;
}
.timer-green {
  border: 0.4em solid #44a336;
}
.timer-orange {
  border: 0.4em solid #e6a132;
}
