body,
html {
  font-family: "Lato", sans-serif;
  background: linear-gradient(-45deg, #063970, #23a6d5, #3f87a6);
  height: 100vh;
  overflow: hidden;
}

//small devices mixin
@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}
