@import "../../main.scss";

.typing-test {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .test-paragraphs {
    font-size: 1.3rem;
    margin: 3em;
    .non-active-text {
      line-height: 1.5;
      letter-spacing: 0.1em;
      color: #c4bfbe;
    }
    .active-text {
      font-size: 1.6rem;
      color: white;
    }
  }

  .wrapper-input {
    input {
      font-family: inherit;
      font-size: 1.4rem;
      padding: 0.25em;
      display: block;
      margin: 3em auto;
      border: none;
      width: 40%;
      height: 1.5em;
      border-radius: 10px;
      text-align: center;
      @include sm {
        width: 70%;
      }
    }

    input:focus {
      outline-style: solid;
      outline-color: green;
      outline-width: 2px;
    }
  }
}
